{{!< default}}

<div class="mdl-grid grid--max-width">
	<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
		<!-- Sticky About stuff goes here -->
	</div>
	<!-- Loop for blog posts -->
	{{> "loop"}}

	{{pagination}}
</div>
