{{!< default}}

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone">
		<!-- Sticky About stuff goes here -->
	</div>
	<div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
		<!-- Blog posts list goes here -->
	</div>
</div>
